$bg-color: #121212;
$suface-color: #1a1a1a;
$primary-color: #bb86fc;
$secondary-color: #03dac6;
$on-bg-color: #848484;
$on-suface-color: #d0d0d0;
$on-primary-color: #09070c;
$on-secondary-color: #001614;

$danger-color: #ff4444;
$warning-color: #ffbb33;
$success-color: #00C851;
$info-color: #33b5e5;

$header-bg-color: $primary-color;
$header-title-color: #fff;
$header-icon-color: #fff;

$context-menu-border-color: lighten($bg-color, 1%);
$context-menu-hover-color: color.change($on-suface-color, $lightness: 12%);
