$bg-color: #121212;
$suface-color: #1a1a1a;
$primary-color: #bb86fc;
$secondary-color: #03dac6;
$on-bg-color: #848484;
$on-suface-color: #d0d0d0;
$on-primary-color: #09070c;
$on-secondary-color: #001614;

$header-bg-color: $primary-color;
$header-title-color: #fff;
$header-icon-color: #fff;
