@use "sass:math";
@use "sass:color";

@import "./variables.scss";
@import "./colors.scss";
@import "./font.scss";
@import "./function.scss";
@import "./mixin.scss";
@import "./icomoon-v1.0/style.scss";

body {
    background-color: $bg-color;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body,
html * {
    font-family: 'Nunito', sans-serif;
    @include user-select(none);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color: red;
    transition: background-color 86400s ease-in-out 86400s;
}

.wrapper {
    background-color: transparent;
}

@import "./include/splash.scss";
@import "./include/header.scss";
@import "./include/main.scss";
@import "./include/sidebar.scss";
@import "./include/content.scss";
@import "./view/context_menu.scss";
@import "./auth/style.scss";
@import "./explorer/style.scss";
