.explorer-toolbar-wrapper {
    height: $explorer-toolbar-height;
    margin-top: 10px;
}

.explorer-toolbar {
    display: flex;
    height: $explorer-toolbar-height;

    &-view {
        flex-direction: column;
        margin-right: 10px;

        @include box-shadow-depth($explorer-toolbar-shadow-depth);
    }

    &-view-button {
        outline: 0;
        color: $on-suface-color;
        background-color: transparent;
        border: 1px solid $suface-color;
        width: $explorer-toolbar-height;
        height: $explorer-toolbar-height;
        cursor: pointer;

        >svg {
            width: $explorer-toolbar-icon-size;
            height: $explorer-toolbar-icon-size;
            vertical-align: middle;
        }

        &.active {
            color: $primary-color;
            border-color: $suface-color;
            background-color: $suface-color;
        }

        &:first-child {
            border-right: 0;
            @include border-radius($explorer-toolbar-radius 0 0 $explorer-toolbar-radius);
        }

        &:last-child {
            border-left: 0;
            @include border-radius(0 $explorer-toolbar-radius $explorer-toolbar-radius 0);
        }
    }

    &-search {
        flex-direction: column;
    }

    &-search-input {
        color: $on-suface-color;
        background-color: $suface-color;
        border: 1px solid $suface-color;
        height: 100%;
        padding: 0 15px;
        font-size: 0.9em;
        outline: 0;

        @include border-radius($explorer-toolbar-radius);
        @include transition($transition-default border-color, $transition-default filter);
        @include box-shadow-depth($explorer-toolbar-shadow-depth);
        @include box-sizing(border-box);

        &:hover,
        &:focus {
            border: 1px solid $primary-color;
            @include filter(brightness(130%));
        }

        &::placeholder {
            color: $on-suface-color;
        }
    }

    &-action {
        outline: 0;
        background-color: transparent;
        height: $explorer-toolbar-height;
        margin-left: auto;

        &-button {
            margin-left: 10px;
        }
    }

    &-action-button,
    &-button {
        outline: 0;
        color: $on-suface-color;
        background-color: $suface-color;
        border: 1px solid $suface-color;
        width: $explorer-toolbar-height;
        height: $explorer-toolbar-height;
        cursor: pointer;

        @include border-radius($explorer-toolbar-radius);
        @include box-shadow-depth($explorer-toolbar-shadow-depth);
        @include transition($transition-default filter);

        >svg {
            width: $explorer-toolbar-icon-size;
            height: $explorer-toolbar-icon-size;
            vertical-align: middle;
        }

        &:hover {
            @include filter(brightness(150%));
        }
    }

    &-button {
        margin-right: 10px;
    }
}
