@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7uf4ht');
  src:  url('fonts/icomoon.eot?7uf4ht#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7uf4ht') format('truetype'),
    url('fonts/icomoon.woff?7uf4ht') format('woff'),
    url('fonts/icomoon.svg?7uf4ht#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-explorer-file-image:before {
  content: "\e914";
}
.ic-explorer-file-document .path1:before {
  content: "\e917";
  color: rgb(35, 31, 32);
}
.ic-explorer-file-document .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(35, 31, 32);
  opacity: 0.5;
}
.ic-explorer-file-document .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(35, 31, 32);
  opacity: 0.5;
}
.ic-explorer-file-document .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(35, 31, 32);
  opacity: 0.7;
}
.ic-explorer-file-document .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.ic-explorer-file-document .path6:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(35, 31, 32);
  opacity: 0.4;
}
.ic-explorer-file-code:before {
  content: "\e921";
}
.ic-explorer-file-audio:before {
  content: "\e922";
}
.ic-auth-password:before {
  content: "\e91a";
}
.ic-auth-user:before {
  content: "\e91b";
}
.ic-toolbar-button-sort:before {
  content: "\e919";
}
.ic-explorer-file-video:before {
  content: "\e918";
}
.ic-explorer-file-archive:before {
  content: "\e913";
}
.ic-explorer-file-text:before {
  content: "\e915";
}
.ic-explorer-file-unknown:before {
  content: "\e916";
}
.ic-arrow-bottom:before {
  content: "\e90f";
}
.ic-arrow-left:before {
  content: "\e910";
}
.ic-arrow-right:before {
  content: "\e911";
}
.ic-arrow-top:before {
  content: "\e912";
}
.ic-explorer-directory:before {
  content: "\e906";
}
.ic-explorer-directory-check:before {
  content: "\e907";
}
.ic-explorer-directory-cloud:before {
  content: "\e908";
}
.ic-explorer-directory-favorite:before {
  content: "\e909";
}
.ic-explorer-directory-open:before {
  content: "\e90a";
}
.ic-explorer-directory-remove:before {
  content: "\e90b";
}
.ic-explorer-directory-security:before {
  content: "\e90c";
}
.ic-explorer-directory-star:before {
  content: "\e90d";
}
.ic-explorer-directory-with-files:before {
  content: "\e90e";
}
.ic-toolbar-action-upload:before {
  content: "\e904";
}
.ic-toolbar-action-add:before {
  content: "\e905";
}
.ic-toolbar-view-grid:before {
  content: "\e902";
}
.ic-toolbar-view-list:before {
  content: "\e903";
}
.ic-manager:before {
  content: "\e901";
}
.ic-user:before {
  content: "\e900";
}
