$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ic-arrow-bottom: "\e90f";
$ic-arrow-left: "\e910";
$ic-arrow-right: "\e911";
$ic-arrow-top: "\e912";
$ic-explorer-folder: "\e906";
$ic-explorer-folder-check: "\e907";
$ic-explorer-folder-cloud: "\e908";
$ic-explorer-folder-favorite: "\e909";
$ic-explorer-folder-open: "\e90a";
$ic-explorer-folder-remove: "\e90b";
$ic-explorer-folder-security: "\e90c";
$ic-explorer-folder-star: "\e90d";
$ic-explorer-folder-with-files: "\e90e";
$ic-toolbar-action-upload: "\e904";
$ic-toolbar-action-add: "\e905";
$ic-toolbar-view-grid: "\e902";
$ic-toolbar-view-list: "\e903";
$ic-manager: "\e901";
$ic-user: "\e900";

