$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ic-explorer-file-music: "\e917";
$ic-explorer-file-video: "\e918";
$ic-explorer-file-archive: "\e913";
$ic-explorer-file-picture: "\e914";
$ic-explorer-file-text: "\e915";
$ic-explorer-file-unknown: "\e916";
$ic-arrow-bottom: "\e90f";
$ic-arrow-left: "\e910";
$ic-arrow-right: "\e911";
$ic-arrow-top: "\e912";
$ic-explorer-directory: "\e906";
$ic-explorer-directory-check: "\e907";
$ic-explorer-directory-cloud: "\e908";
$ic-explorer-directory-favorite: "\e909";
$ic-explorer-directory-open: "\e90a";
$ic-explorer-directory-remove: "\e90b";
$ic-explorer-directory-security: "\e90c";
$ic-explorer-directory-star: "\e90d";
$ic-explorer-directory-with-files: "\e90e";
$ic-toolbar-action-upload: "\e904";
$ic-toolbar-action-add: "\e905";
$ic-toolbar-view-grid: "\e902";
$ic-toolbar-view-list: "\e903";
$ic-manager: "\e901";
$ic-user: "\e900";

