@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?q4onip');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?q4onip#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?q4onip') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?q4onip') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?q4onip##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-action-favorites {
  &:before {
    content: $ic-action-favorites; 
  }
}
.ic-action-share {
  &:before {
    content: $ic-action-share; 
  }
}
.ic-action-cut {
  &:before {
    content: $ic-action-cut; 
  }
}
.ic-action-detail {
  &:before {
    content: $ic-action-detail; 
  }
}
.ic-action-copy {
  &:before {
    content: $ic-action-copy; 
  }
}
.ic-action-delete {
  &:before {
    content: $ic-action-delete; 
  }
}
.ic-action-paste {
  &:before {
    content: $ic-action-paste; 
  }
}
.ic-action-rename {
  &:before {
    content: $ic-action-rename; 
  }
}
.ic-arrow-bottom-fill {
  &:before {
    content: $ic-arrow-bottom-fill; 
  }
}
.ic-arrow-left-fill {
  &:before {
    content: $ic-arrow-left-fill; 
  }
}
.ic-arrow-right-fill {
  &:before {
    content: $ic-arrow-right-fill; 
  }
}
.ic-arrow-top-fill {
  &:before {
    content: $ic-arrow-top-fill; 
  }
}
.ic-context-menu-invisible {
  &:before {
    content: $ic-context-menu-invisible; 
  }
}
.ic-explorer-file-ebook {
  &:before {
    content: $ic-explorer-file-ebook; 
  }
}
.ic-explorer-file-disk {
  &:before {
    content: $ic-explorer-file-disk; 
  }
}
.ic-explorer-file-font {
  &:before {
    content: $ic-explorer-file-font; 
  }
}
.ic-explorer-file-android {
  &:before {
    content: $ic-explorer-file-android; 
  }
}
.ic-explorer-file-program {
  &:before {
    content: $ic-explorer-file-program; 
  }
}
.ic-explorer-file-binary {
  &:before {
    content: $ic-explorer-file-binary; 
  }
}
.ic-explorer-file-document {
  &:before {
    content: $ic-explorer-file-document; 
  }
}
.ic-explorer-file-image {
  &:before {
    content: $ic-explorer-file-image; 
  }
}
.ic-explorer-file-code {
  &:before {
    content: $ic-explorer-file-code; 
  }
}
.ic-explorer-file-audio {
  &:before {
    content: $ic-explorer-file-audio; 
  }
}
.ic-auth-password {
  &:before {
    content: $ic-auth-password; 
  }
}
.ic-auth-user {
  &:before {
    content: $ic-auth-user; 
  }
}
.ic-toolbar-button-sort {
  &:before {
    content: $ic-toolbar-button-sort; 
  }
}
.ic-explorer-file-video {
  &:before {
    content: $ic-explorer-file-video; 
  }
}
.ic-explorer-file-archive {
  &:before {
    content: $ic-explorer-file-archive; 
  }
}
.ic-explorer-file-text {
  &:before {
    content: $ic-explorer-file-text; 
  }
}
.ic-explorer-file-unknown {
  &:before {
    content: $ic-explorer-file-unknown; 
  }
}
.ic-arrow-bottom {
  &:before {
    content: $ic-arrow-bottom; 
  }
}
.ic-arrow-left {
  &:before {
    content: $ic-arrow-left; 
  }
}
.ic-arrow-right {
  &:before {
    content: $ic-arrow-right; 
  }
}
.ic-arrow-top {
  &:before {
    content: $ic-arrow-top; 
  }
}
.ic-explorer-directory {
  &:before {
    content: $ic-explorer-directory; 
  }
}
.ic-explorer-directory-check {
  &:before {
    content: $ic-explorer-directory-check; 
  }
}
.ic-explorer-directory-cloud {
  &:before {
    content: $ic-explorer-directory-cloud; 
  }
}
.ic-explorer-directory-favorite {
  &:before {
    content: $ic-explorer-directory-favorite; 
  }
}
.ic-explorer-directory-open {
  &:before {
    content: $ic-explorer-directory-open; 
  }
}
.ic-explorer-directory-remove {
  &:before {
    content: $ic-explorer-directory-remove; 
  }
}
.ic-explorer-directory-security {
  &:before {
    content: $ic-explorer-directory-security; 
  }
}
.ic-explorer-directory-star {
  &:before {
    content: $ic-explorer-directory-star; 
  }
}
.ic-explorer-directory-with-files {
  &:before {
    content: $ic-explorer-directory-with-files; 
  }
}
.ic-toolbar-action-upload {
  &:before {
    content: $ic-toolbar-action-upload; 
  }
}
.ic-toolbar-action-add {
  &:before {
    content: $ic-toolbar-action-add; 
  }
}
.ic-toolbar-view-grid {
  &:before {
    content: $ic-toolbar-view-grid; 
  }
}
.ic-toolbar-view-list {
  &:before {
    content: $ic-toolbar-view-list; 
  }
}
.ic-manager {
  &:before {
    content: $ic-manager; 
  }
}
.ic-user {
  &:before {
    content: $ic-user; 
  }
}

