$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ic-action-favorites: "\e92f";
$ic-action-share: "\e930";
$ic-action-cut: "\e92e";
$ic-action-detail: "\e92d";
$ic-action-copy: "\e929";
$ic-action-delete: "\e92a";
$ic-action-paste: "\e92b";
$ic-action-rename: "\e92c";
$ic-arrow-bottom-fill: "\e925";
$ic-arrow-left-fill: "\e926";
$ic-arrow-right-fill: "\e927";
$ic-arrow-top-fill: "\e928";
$ic-context-menu-invisible: "\e924";
$ic-explorer-file-ebook: "\e923";
$ic-explorer-file-disk: "\e920";
$ic-explorer-file-font: "\e91f";
$ic-explorer-file-android: "\e91e";
$ic-explorer-file-program: "\e91d";
$ic-explorer-file-binary: "\e91c";
$ic-explorer-file-document: "\e917";
$ic-explorer-file-image: "\e914";
$ic-explorer-file-code: "\e921";
$ic-explorer-file-audio: "\e922";
$ic-auth-password: "\e91a";
$ic-auth-user: "\e91b";
$ic-toolbar-button-sort: "\e919";
$ic-explorer-file-video: "\e918";
$ic-explorer-file-archive: "\e913";
$ic-explorer-file-text: "\e915";
$ic-explorer-file-unknown: "\e916";
$ic-arrow-bottom: "\e90f";
$ic-arrow-left: "\e910";
$ic-arrow-right: "\e911";
$ic-arrow-top: "\e912";
$ic-explorer-directory: "\e906";
$ic-explorer-directory-check: "\e907";
$ic-explorer-directory-cloud: "\e908";
$ic-explorer-directory-favorite: "\e909";
$ic-explorer-directory-open: "\e90a";
$ic-explorer-directory-remove: "\e90b";
$ic-explorer-directory-security: "\e90c";
$ic-explorer-directory-star: "\e90d";
$ic-explorer-directory-with-files: "\e90e";
$ic-toolbar-action-upload: "\e904";
$ic-toolbar-action-add: "\e905";
$ic-toolbar-view-grid: "\e902";
$ic-toolbar-view-list: "\e903";
$ic-manager: "\e901";
$ic-user: "\e900";

